.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.text {
    white-space: nowrap;
    opacity: 1;
    transition: 0.2s all;
    margin-left: 10px;
}

.lang {
    margin-left: 20px;
    color: var(--inverted-primary-color);
}

.btn {
    position: absolute;
    bottom: 40px;
    right: -32px;
}

.items {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.item {
    color: var(--inverted-primary-color);
    display: flex;
    align-items: center;
    font: var(--font-m);
    margin-top: 10px;
}

.icon {
    fill: var(--inverted-primary-color);
    font: var(--font-xl);
}

.collapsed {
    width: var(--sidebar-collapsed-width);

    .switchers {
        flex-direction: column;
    }

    .lang {
        margin-left: 0;
    }

    .text {
        transition: 0.2s all;
        opacity: 0;
        width: 0;
    }
}
