.Code {
    background: var(--code-bg);
    position: relative;
    padding: 20px;
    width: 100%;
    overflow: auto;
}

.copyBtn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.copyIcon path {
    fill: none;
    stroke: var(--primary-color)
}
