.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.editable {
    padding: 20px;
    border: 2px solid var(--inverted-primary-color);
}

.input {
    margin-top: 10px;
}

.avatarWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.error {
    border: 1px solid var(--red-light);
    height: 300px;
    display: grid;
    place-content: center;
}
